<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="AccountConnectionString" connectionString="Data Source=LAPTOP-NV25J53T\SQLEXPRESS;Initial Catalog=Account;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Romance_Connectiondb" connectionString="Data Source=LAPTOP-NV25J53T\SQLEXPRESS;Initial Catalog=Account;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AccountURL" connectionString="Data Source=LAPTOP-NV25J53T\SQLEXPRESS;Initial Catalog=Account;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Humordb" connectionString="Data Source=LAPTOP-NV25J53T\SQLEXPRESS;Initial Catalog=Account;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

</configuration>
